<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lilin.dubboserviceprovider.mybatis.mapper.QuartzDao">

    <select id="insertAppQuartzSer" parameterType="com.lilin.dubboserviceprovider.mybatis.entity.AppQuartz">
        INSERT INTO APP_QUARTZ (QUARTZ_ID,JOB_NAME,JOB_GROUP,START_TIME,CRON_EXPRESSION,INVOKE_PARAM)
        values (#{aq.quartzId},#{aq.jobName},#{aq.jobGroup},#{aq.startTime},#{aq.cronExpression},#{aq.invokeParam})
    </select>

</mapper>